body{
    background-color:#ddd;
}
.header
{
   
    height:40px;
}
.content
{
    background-color: #ddd;
    min-height: 600px;
}
.sidebar
{
    overflow:scroll;
}
.main-content
{
    background-color: #fff;
    min-height: 600px;
    border:1px solid #eee;
}
.footer
{   height:40px;
}  